/build
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
/.vscode
*~
.DS_Store
/*.xcodeproj/*.mode1v3
/*.xcodeproj/*.pbxuser
/assets/*.log
/assets/core/cache/*collcach

*.cpp.o.d
*.c.o.d
*.o.d